<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New Item</h1>
        <h3>time to review!</h3>
        <form action="/myMusic" method="POST">
            <input type="text" name="album" placeholder="album name"/> <br/>
            <input type="text" name="artist" placeholder="artist"/> <br/>
            

            <input type="submit" name="done" value="create post"/>
           
</body>
</html>