<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./partials/head.ejs') %>

    <title>Register</title>
</head>
<body class="register-page">
    <div class="container">
        <h1>Register</h1>
        <form action="/sessions/register" method="POST">
            <div class="form-group">
              <label for="inputUsername">Username</label>
              <input type="text"  name="username" class="form-control" id="inputUsername" style="max-width: 40%;"  placeholder="Enter username">
             
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="text" name="password" class="form-control" id="exampleInputPassword1" style="max-width: 40%;"placeholder="Password">
            </div>
           
           
            <button  class="btn btn-light" href="/sessions/login">Register</button>
          </form>
    </div>


   

     <!-- BOOTSTRAP -->
    <%- include ('./partials/bootstrap.ejs') %>

</body>
</html>