<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs') %>

    <title>Create Author Page</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <%- include ('../partials/nav.ejs') %>

          <form class="form-inline my-2 my-lg-0" action="../sessions/logout" method="POST">
            <button class="btn btn-outline-light my-2 my-sm-0">Logout</button>
        </form>
          
        </div>
      </nav>

	  <div class="container">
		<h1>Create an Author</h1>
		
	<main>
		<form action="/authors" method="POST" style="width: 50%">
			<div class="form-group" >
                <label for="FormControlInput1auth1">Name</label>
                <input type="text" class="form-control" id="FormControlInput1auth1"  name="name" placeholder="name">
              </div>
			  <div class="form-group" >
                <label for="FormControlInput1auth1">Image</label>
                <input type="text" class="form-control" id="FormControlInput1auth1"  name="image" placeholder="Link to image address">
              </div>
              <div class="form-group">Bio</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="bio" placeholder="bio"></textarea>
              </div>
             
             


            <input type="submit" value="Create Author"/>


			
		</form>
	</main>
	  </div>
 
		


	<!-- BOOTSTRAP -->
  <%- include ('../partials/bootstrap.ejs') %>

</body>
</html>